In [60]:
import sqlite3

In [61]:
# Connect to the SQLite database
connection = sqlite3.connect('example.db')
connection

In [62]:
cursor = connection.cursor()

In [63]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
''')

connection.commit()

In [64]:
cursor.execute('''SELECT * FROM employees''')

In [65]:
cursor.execute('''
INSERT INTO employees(name,age,department)
               VALUES('Severyn', 23, 'Data Scientist')
'''
)

cursor.execute('''
INSERT INTO employees(name,age,department)
               VALUES('Siera', 21, 'Economist')
'''
)

cursor.execute(
    """
INSERT INTO employees(name,age,department)
               VALUES('Alla', 22, 'Linguist')
"""
)

connection.commit()

In [66]:
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Jesus', 33, 'Data Scientist')
(2, 'Siera', 21, 'Economist')
(3, 'Alla', 22, 'Linguist')
(4, 'Severyn', 23, 'Data Scientist')
(5, 'Siera', 21, 'Economist')
(6, 'Alla', 22, 'Linguist')

In [67]:
cursor.execute(
    """
UPDATE employees
    SET age=33
    WHERE id=1
"""
)

cursor.execute(
    """
UPDATE employees
    SET name='Jesus'
    WHERE age=33
"""
)

connection.commit()

In [68]:
cursor.execute(
    """
DELETE FROM employees
    where id > 3
"""
)

connection.commit()

In [69]:
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Jesus', 33, 'Data Scientist')
(2, 'Siera', 21, 'Economist')
(3, 'Alla', 22, 'Linguist')

In [70]:
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS sales_data (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        product TEXT NOT NULL,
        sales INTEGER,
        region TEXT
    )
"""
)

connection.commit()

In [75]:
sales_data = [
    ("2023-01-01", 'Product1', 100, 'North'),
    ("2023-01-02", 'Product2', 200, 'South'),
    ("2023-01-03", 'Product1', 150, 'East'),
    ("2023-01-04", 'Product3', 300, 'West'),
    ("2023-01-05", 'Product2', 250, 'North')
]

cursor.executemany("""
INSERT INTO sales_data (date,product,sales,region)
VALUES(?,?,?,?)
""", sales_data)

connection.commit()

In [76]:
cursor.execute("SELECT * FROM sales_data")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 300, 'West')
(5, '2023-01-05', 'Product2', 250, 'North')