# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [62]:
import sqlite3

## Assignment 1

In [63]:
# 1
def create_db():
    connection = sqlite3.connect('text.db')
    connection.close()
    print("Database created and connected successfully.")

create_db()

Database created and connected successfully.

In [64]:
# 2
def create_employee_table():
    connection = sqlite3.connect('employees.db')
    cursor = connection.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS employees (
            id INTEGER PRIMARY KEY,
            name TEXT,
            age INTEGER,
            department TEXT
        )
    ''')
    connection.commit()
    connection.close()

create_employee_table()

## Assignment 2

In [65]:
# 1
def insert_employee(id, name, age, department):
    connection = sqlite3.connect('employees.db')
    cursor = connection.cursor()
    cursor.execute("""INSERT INTO employees
                   (id,name,age,department)
                   VALUES
                   (?, ?, ?, ?)
    """, (id, name, age, department))

    connection.commit()
    connection.close()
    print("Employee inserted successfully")

insert_employee(1, "Severyn", 23, "MachineLearning")

Employee inserted successfully

In [66]:
# 2
insert_employee(2, "Sarah", 35, "HR")
insert_employee(3, "Max", 18, "HR")
insert_employee(4, "Eric", 55, "SoftwareEngineer")
insert_employee(5, "Ann", 21, "SoftwareEngineer")

Employee inserted successfully
Employee inserted successfully
Employee inserted successfully
Employee inserted successfully

## Assignment 3

In [67]:
def fetch_n_disp_employees():
    connection = sqlite3.connect('employees.db')
    cursor = connection.cursor()

    cursor.execute("SELECT * FROM employees")
    rows = cursor.fetchall()

    for row in rows:
        print(row)

    connection.close()

fetch_n_disp_employees()

(1, 'Severyn', 23, 'MachineLearning')
(2, 'Sarah', 35, 'HR')
(3, 'Max', 18, 'HR')
(4, 'Eric', 55, 'SoftwareEngineer')
(5, 'Ann', 21, 'SoftwareEngineer')

In [68]:
# 2
def select_all_employees_from_department(department):
    connection = sqlite3.connect('employees.db')
    cursor = connection.cursor()

    cursor.execute("SELECT * FROM employees WHERE department = ?", (department,))
    rows = cursor.fetchall()

    for row in rows:
        print(row)

    connection.close()

select_all_employees_from_department("MachineLearning")

(1, 'Severyn', 23, 'MachineLearning')

## Assignment 4

In [70]:
# 1
def update_department(department, id):
    connection = sqlite3.connect('employees.db')
    cursor = connection.cursor()
    cursor.execute(
    """
    UPDATE employees
        SET department = ?
        WHERE id = ?
    """,
        (department, id),
    )
    connection.commit()
    connection.close()
    print("Department updated successfully!")

update_department("Marketing", 1)
select_all_employees_from_department("Marketing")

Department updated successfully!
(1, 'Severyn', 23, 'Marketing')

In [71]:
# 2
update_department("Homeless", 2)
update_department("Homeless", 3)
fetch_n_disp_employees()

Department updated successfully!
Department updated successfully!
(1, 'Severyn', 23, 'Marketing')
(2, 'Sarah', 35, 'Homeless')
(3, 'Max', 18, 'Homeless')
(4, 'Eric', 55, 'SoftwareEngineer')
(5, 'Ann', 21, 'SoftwareEngineer')

## Assignment 5

In [ ]:
# 1
def delete_employee(id):
    connection = sqlite3.connect('employees.db')
    cursor = connection.cursor()
    cursor.execute("DELETE FROM employees WHERE id = ?", (id,))
    connection.commit()
    connection.close()
    print("Employee deleted successfully.")

delete_employee(2)

Employee deleted successfully.

In [ ]:
# 2
delete_employee(3)
fetch_n_disp_employees()

Employee deleted successfully.
(1, 'Severyn', 23, 'Marketing')
(4, 'Eric', 55, 'SoftwareEngineer')
(5, 'Ann', 21, 'SoftwareEngineer')

## Assignment 6

In [ ]:
# 1
employees_older_than_query = """
SELECT * FROM employees
    WHERE age > ?
"""

def fetch_n_disp_employees_oler_than(age):
    connection = sqlite3.connect("employees.db")
    cursor = connection.cursor()
    cursor.execute(employees_older_than_query, (age,))
    for employee in cursor.fetchall():
        print(employee)
    connection.commit()
    connection.close()

fetch_n_disp_employees_oler_than(21)

(1, 'Severyn', 23, 'Marketing')
(4, 'Eric', 55, 'SoftwareEngineer')

In [77]:
# 2
employees_with_name_first_char = """
SELECT * FROM employees
    WHERE name LIKE ?
"""

def fetch_n_disp_employees_with_name_first_char(char):
    connection = sqlite3.connect("employees.db")
    cursor = connection.cursor()
    cursor.execute(employees_with_name_first_char, (char + "%",))
    for employee in cursor.fetchall():
        print(employee)
    connection.commit()
    connection.close()

fetch_n_disp_employees_with_name_first_char('S')

(1, 'Severyn', 23, 'Marketing')

## Assignment 7

In [ ]:
# 1
def insert_multiple_employees(employees):
    connection = sqlite3.connect('employees.db')
    cursor = connection.cursor()
    try:
        cursor.executemany("INSERT INTO employees (id, name, age, department) VALUES (?, ?, ?, ?)", employees)
        connection.commit()
        print("Multiple employees inserted successfully.")
    except sqlite3.Error as err:
        connection.rollback()
        print("Error inserting multiple employees:", err)
    finally:
        connection.close()

employees = [
    (16, 'Ann', 15, 'Finance'),
    (17, 'Helga', 22, 'Engineering'),
    (18, 'Sue', 30, 'Marketing'),
    (19, 'Marc', 33, 'Sales'),
    (20, 'Peter', 41, 'HR')
]
insert_multiple_employees(employees)

Multiple employees inserted successfully.

In [83]:
# 2
def update_multiple_employees(employees):
    connection = sqlite3.connect('employees.db')
    cursor = connection.cursor()
    try:
        cursor.executemany("UPDATE employees SET age = ? WHERE id = ?", employees)
        connection.commit()
        print("Multiple employees' age updated successfully.")
    except sqlite3.Error as err:
        connection.rollback()
        print("Error updating multiple employees' age:", err)
    finally:
        connection.close()

employees = [
    (15, 16),
    (22, 17),
]
update_multiple_employees(employees)
fetch_n_disp_employees_oler_than(14)

Multiple employees' age updated successfully.
(1, 'Severyn', 23, 'Marketing')
(4, 'Eric', 55, 'SoftwareEngineer')
(5, 'Ann', 21, 'SoftwareEngineer')
(16, 'Ann', 15, 'Finance')
(17, 'Helga', 22, 'Engineering')
(18, 'Sue', 30, 'Marketing')
(19, 'Marc', 33, 'Sales')
(20, 'Peter', 41, 'HR')

## Assignment 8

In [87]:
# 1
def create_departments_table():
    departments_table = """
    CREATE TABLE IF NOT EXISTS departments (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL
    )
"""

    connection = sqlite3.connect("departments.db")
    cursor = connection.cursor()
    cursor.execute(departments_table)
    connection.commit()
    connection.close()
    print("Departments table created successfully.")

create_departments_table()

Departments table created successfully.

In [ ]:
# 2

## Assignment 9

## Assignment 10