# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [12]:
# 1.
set_1 = set(range(1, 11))
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
# 2.
set_1.add(11)
print("After adding 11: ", set_1)
set_1.remove(11)
print("After removing 11: ", set_1)

After adding 11:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
After removing 11:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
# 3.
set_one = set(range(1, 6))
set_two = set(range(2, 11, 2))

print("Union: ", set_one.union(set_two))
print("Intersection: ", set_one.intersection(set_two))
print("Difference (set_one - set_two): ", set_one.difference(set_two))
print("Symmetric difference: ", set_one.symmetric_difference(set_two))

Union:  {1, 2, 3, 4, 5, 6, 8, 10}
Intersection:  {2, 4}
Difference (set_one - set_two):  {1, 3, 5}
Symmetric difference:  {1, 3, 5, 6, 8, 10}

In [13]:
# 4.
sqrt_set = {i**2 for i in set_1}
print(sqrt_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [15]:
# 5.
sqrt_set = {i for i in set_1 if i%2==0}
print(sqrt_set)

{2, 4, 6, 8, 10}

In [17]:
# 6.
set_with_duplicates = [1, 1, 2, 3]
set_without_duplicates = set(set_with_duplicates)
print(set_without_duplicates)

{1, 2, 3}

In [22]:
# 7.
set_one = set(range(1, 6))
set_two = set(range(1, 4))

print(set_two.issubset(set_one))
print(set_one.issuperset(set_two))

True
True

In [20]:
# 8.
frozenset_1 = frozenset(range(1, 6))
print(frozenset_1)

frozenset({1, 2, 3, 4, 5})

In [6]:
# 9.
set_one = set(range(1, 6))
list_one = list(set_one)
list_one.append(6)
set_one = set(list_one)
print(set_one)

{1, 2, 3, 4, 5, 6}

In [9]:
# 10.
# dict_one = {set(i): i for i in range(10)}
## Sets are mutable, so they can't be used as keys in a dictionary.
## Just frozenset is immutable, so it can be used as a key in a dictionary.
dict_one = {frozenset([i]): i for i in range(10)}
print(dict_one)

{frozenset({0}): 0, frozenset({1}): 1, frozenset({2}): 2, frozenset({3}): 3, frozenset({4}): 4, frozenset({5}): 5, frozenset({6}): 6, frozenset({7}): 7, frozenset({8}): 8, frozenset({9}): 9}

In [39]:
# 11.
new_set = {"Severyn", "is" , "in", "love", "with", "Python", "now"}
print(*new_set, end='\n\nor:\n\n')
for i in new_set: print(i)

love now is Python with Severyn in

or:

love
now
is
Python
with
Severyn
in

In [11]:
# 12.
new_set = {"This", "will", "disappear", "one", "by", "one"}
print("Before removing: ", new_set)

while new_set:
    new_set.pop()
    
print("After removing: ", new_set)

Before removing:  {'This', 'by', 'one', 'will', 'disappear'}
After removing:  set()

In [13]:
# 13.
set_one = set(range(1, 6))
set_two = set(range(4, 9))

set_one.symmetric_difference_update(set_two)
print(set_one)

{1, 2, 3, 6, 7, 8}

In [16]:
# 14.
set_one = set(range(1, 6))

print("Is 1 in set_one? ", 1 in set_one)
print("Is 1 in set_one? ", 5 in set_one)
print("Is 10 in set_one? ", 10 in set_one)

Is 1 in set_one?  True
Is 1 in set_one?  True
Is 10 in set_one?  False

In [19]:
# 15.
set_one = {(i, j) for i in range(2) for j in range(2)}
print(set_one)

{(0, 1), (1, 0), (1, 1), (0, 0)}