# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
# 1.
tuple_1 = tuple(range(1, 11))
print(tuple_1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
# 2.
print(
    "First element:",
    tuple_1[0],
    "\nMiddle element:",
    tuple_1[5],
    "\nLast element:",
    tuple_1[-1],
)

First element: 1
Middle element: 6
Last element: 10

In [6]:
# 3.
print(
    "First three elements:",
    tuple_1[:3],
    "\nLast three elements:",
    tuple_1[-3:],
    "\nElements from index 2 to 5:",
    tuple_1[2:5],
)

First three elements: (1, 2, 3)
Last three elements: (8, 9, 10)
Elements from index 2 to 5: (3, 4, 5)

In [7]:
# 4.
matrix = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(matrix)
print(matrix[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

In [8]:
# 5.
tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)
tuple_3 = tuple_1 + tuple_2
print(tuple_3)

(1, 2, 3, 4, 5, 6)

In [9]:
# 6.
tuple_with_duplicates = (1, 2, 2, 3, 4, 5)
print(tuple_with_duplicates.count(2))
print(tuple_with_duplicates.index(2))

2
1

In [1]:
# 7.
tuple_with_5_el = (1, 2, 3, 4, 5)
s, e, v, e, r = tuple_with_5_el
print(s, e, v, e, r)

1 4 3 4 5

In [5]:
# 8.
list_1 = list(range(1,6))
tuple_1 = tuple(list_1)
print(tuple_1)

(1, 2, 3, 4, 5)

In [21]:
# 9.
tuple_1 = tuple(tuple(i + n for i in range(3)) for n in range(3))
print(tuple_1)

((0, 1, 2), (1, 2, 3), (2, 3, 4))

In [23]:
# 10.
tuple_1 = tuple(range(1,6))
list_1 = list(list_1)
list_1.append(6)
tuple_1 = tuple(list_1)
print(tuple_1)

(1, 2, 3, 4, 5, 6)
12345

In [29]:
# 11.
tuple_1 = tuple(i for i in "Severyn")
srt_from_tuple = "".join(tuple_1)
print(srt_from_tuple)

Severyn

In [35]:
# 12.
dict_1 = {
    (1, 2): (3, 4),
    (5, 6): (7, 8)
}

print(dict_1)

{(1, 2): (3, 4), (5, 6): (7, 8)}

In [59]:
# 13.
nested_tuple = tuple(tuple(range(i + 1, i + 4)) for i in range(1, 4))

print(nested_tuple)

for row in nested_tuple:
    for col in row:
        print(col)

((2, 3, 4), (3, 4, 5), (4, 5, 6))
2
3
4
3
4
5
4
5
6

In [60]:
# 14.
tuple_with_duplicates = (1, 2, 2, 3, 4, 5)
set_from_tuple = set(tuple_with_duplicates)
print(set_from_tuple)

{1, 2, 3, 4, 5}

In [64]:
# 15.
def mix_max_sum_of_tuple(param_tuple):
    return (max(param_tuple), min(param_tuple), sum(param_tuple))

print(mix_max_sum_of_tuple((1, 2, 3, 4, 5)))

(5, 1, 15)